@keyframes transitionOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.div_0 {
    position: relative;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373737;

    @media screen and (max-width: 1024px) {
        width: 40vw;
        height: 40vw;
    }

    @media screen and (max-width: 512px){
        width: 60vw;
        height: 60vw;
    }

}

.div_1 {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    position: absolute;
    outline: 2px solid #606060;
    z-index: 0;
    animation: transitionOpacity 4s forwards infinite;
}
