.div_0 {
    width: 20vw;
    height: 92vh;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    @media screen and (max-width: 1024px) {
        min-width: 0px;
        width: 0px;
        transition: width 0.5s;
        z-index: 50;
    }
}

.div_0.active {
    @media screen and (max-width: 1024px) {
        width: 40vw;
    }
    @media screen and (max-width: 512px){
        width: 60vw;
    }
}


.div_1{
    width: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.5s ease;
}

.div_1.createArticle{
    left: -20vw;
    @media screen and (max-width: 1024px) {
        left: -40vw;
    }
    @media screen and (max-width: 1024px) {
        left: -60vw;
    }
}


