.input_0 {
    width: 60vw;
    height: 7.5vh;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 5vh;
    border: none;

    &:focus {
        outline: 2px solid rgba(180, 247, 255, 0.8);
    }
;
}

.input_0::placeholder {
    color: #adb5bd;
}
